MYSQL_ROOT_PASSWORD=change_me_root
MYSQL_PASSWORD=change_me_sw
MYSQL_HOST=mysql
MYSQL_DB=soundwave_db
MYSQL_USER=sw_user
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
LASTFM_API_KEY=your_key_here
ANTHROPIC_API_KEY=your_key_here
HDFS_NAMENODE=hdfs://namenode:9000
AIRFLOW_FERNET_KEY=generate_this
